<div class="col-md-6">
  {{#if isNewing}}
    <div class="well">
      <form {{action 'createNewProject' on="submit"}}>
        <div class="form-group">
          {{input type="text" value=newProjectName class="form-control" placeholder="Enter a project name"}}
        </div>
        <div class="form-group">
          {{textarea  value=newProjectDescription class="form-control"
            placeholder="Briefly describe your new project"}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Create Project</button>
          <a href="javascript:;" {{action 'cancel'}}>Cancel</a>
        </div>
      </form>
    </div>
  {{else}}
    <header>
      {{!-- <h2>Your projects</h2> --}}
      <button class="btn btn-primary" href="javascript:;" class="pull-left" {{action 'showNewForm'}}>
        <i class="fa fa-plus-square-o fa-lg"></i> Create project
      </a>
    </header>
  {{/if}}
  <div class="top-spacer">
    <table class="table">
      <tbody>
        {{#each controller}}
          <tr>
            <td>
              <div class="panel panel-default">
                <div class="panel-heading">
                  {{#link-to 'project' this}} {{name}} {{/link-to}}
                  <button class="btn-small btn-danger pull-right" {{action "deleteProject" this}}>Delete</button>
                </div>
                <div class="panel-body">
                  {{description}}
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-6">
  <h2 class="dboard-col2-header">My Open Tasks</h2>
  <table class="table">
    <tbody>
      {{#each controller}}
        {{#each tasks itemController='task'}}
          {{#unless completed}}
            <tr>
              <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    {{name}}
                    <p class="pull-right">
                      <b>{{project.name}}</b>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      {{/each}}
    </tbody>
  </table>

</div>

{{!-- <table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Description</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{id}}</td>
        <td>{{#link-to 'project' this}} {{name}} {{/link-to}}</td>
        <td>{{description}}</td>
        <td><button class="btn btn-default" {{action deleteProject this}}>Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table> --}}
